<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.33.0" targetFramework="net461" />
  <package id="TidyHtml5Managed" version="1.1.0" targetFramework="net462" />
</packages>